{% from "macros/image_gallery.html.jinja" import image_gallery %}
{% extends "base.html.jinja" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% include "partials/navbar.html.jinja" %}
    <div class="container mt-5">
        <h1 class="mb-4">Welcome back, {{ user.username }}!</h1>
        <p class="lead">{{ message }}</p>
        {{ image_gallery(images=recent_images,
                title="Your Recent Images") }}
        {% if not recent_images %}
            <div class="alert alert-info mt-4">
                <p class="mb-0">You don't have any images yet. Upload your first image to get started!</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
