{% extends "base.html.jinja" %}
{# Import the new folder macros #}
{% from "macros/folder_gallery.html.jinja" import folder_gallery %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% include "partials/navbar.html.jinja" %}
    <div class="container mt-5">
        <h1 class="mb-4">Image Folders</h1>
        <p class="lead">View and manage your photo folders.</p>
        {# Use the folder_gallery macro to display the main list of folders #}
        {{ folder_gallery(folders, empty_message="No image folders found.", child_count_attr="child_count", image_count_attr="image_count", button_text="View Folders") }}
    </div>
{% endblock content %}
