{% extends "base.html.jinja" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% include "partials/navbar.html.jinja" %}
    <div class="container mt-5">
        <h1 class="mb-4">People</h1>
        <p class="lead">View photos by people.</p>
        <div class="row">
            {% for person in object_list %}
                <div class="col-md-3 mb-4 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url('person_detail', pk=person.pk) }}">{{ person.name }}</a>
                            </h5>
                            <p class="card-text">{{ person.images_count }} photos</p>
                            {# TODO: Need to create the detail view #}
                            <a href="{{ url('person_photos', pk=person.pk) }}"
                               class="btn btn-primary">View Photos</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p>No people found.</p>
                </div>
            {% endfor %}
        </div>
        {{ bootstrap_pagination(page_obj, justify_content="center") }}
    </div>
{% endblock content %}
