{% from "macros/image_gallery.html.jinja" import image_gallery %}
{% from "macros/folder_gallery.html.jinja" import folder_gallery %}
{% extends "base.html.jinja" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% include "partials/navbar.html.jinja" %}
    <div class="container mt-5">
        <div class="container mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb fs-6">
                    {% for crumb in breadcrumbs %}
                        {% if loop.last %}
                            <li class="breadcrumb-item active" aria-current="page">{{ crumb.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item">
                                <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        </div>
        {# Display information about the current folder #}
        <h1 class="mb-4">{{ folder.name }}</h1>
        {% if folder.description %}
            <p class="lead">{{ folder.description|linebreaksbr }}</p>
            <hr class="my-4">
        {% endif %}
        {# Section for Child Folders #}
        <h2 class="mt-5 mb-3">Subfolders</h2>
        {# Use the folder_gallery macro to display child folders #}
        {{ folder_gallery(child_folders,
                empty_message="No subfolders found.",
                child_count_attr="child_folder_count",
                image_count_attr="image_count",
                button_text="View Folder",
                truncate_description=100) }}
        <hr class="my-5">
        {# Section for Images (keeping the existing macro call) #}
        {{ image_gallery(folder_images, "Images") }}
    </div>
{% endblock content %}
