{% extends "base.html.jinja" %}
{% from "macros/image_gallery.html.jinja" import image_gallery_with_pagination %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% include "partials/navbar.html.jinja" %}
    {# Option 2: Gallery with pagination #}
    {{ image_gallery_with_pagination(page_obj, "My Images") }}
{% endblock content %}
