<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {# Bootstrap 5 CSS #}
        <link href="{{ static('bootstrap/css/bootstrap.min.css') }}"
              rel="stylesheet">
        {#
            Script to set the data-bs-theme attribute on the html
            element based on system preference or local storage.
            This must be in the head before other CSS to prevent a flash of
            the wrong theme.
        #}
        <script src="{{ static('js/theme-picker.js') }}"></script>
        {# Bootstrap Icons CSS #}
        <link href="{{ static('bootstrap-icons/bootstrap-icons.min.css') }}"
              rel="stylesheet">
        {# Favicon #}
        <link rel="shortcut icon"
              type="image/svg"
              href="{{ static('images/favicon.svg') }}">
        {# Extra head elements from child templates #}
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {# Bootstrap 5 JavaScript Bundle from local static files #}
        <script src="{{ static('js/theme-setter.js') }}"></script>
        <script src="{{ static('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
