{# templates/base.jinja #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block meta_description %}">
        <meta name="keywords" content="{% block meta_keywords %}">
        <title>
            {% block title %}
                memoria
            {% endblock title %}
        </title>
        <link href="{{ static('bootstrap/css/bootstrap.min.css') }}"
              rel="stylesheet">
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {# Bootstrap 5 JavaScript Bundle from local static files #}
        <script src="{{ static('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
