{% macro folder_card(folder) %}
    {#
    Renders a Bootstrap card for a given folder object.

    Args:
        folder: The folder object to display. Assumes the folder object
                has attributes/methods like .name, .description,
                .get_children_count(), .num_images, and .pk.
    #}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ folder.name }}</h5>
            {% if folder.description %}
                {# Truncate description for brevity and preserve line breaks #}
                <p class="card-text">{{ folder.description | linebreaksbr | truncate(100) }}</p>
            {% endif %}
            <p class="card-text">Contains {{ folder.get_children_count() }} folder(s)</p>
            <p class="card-text">Contains {{ folder.num_images }} image(s)</p>
            {# Link to the detail view of the folder #}
            <a href="{{ url('image_folder_detail', pk=folder.pk) }}"
               class="btn btn-primary">View Folder</a>
        </div>
    </div>
{% endmacro %}
