{% from "macros/image_gallery.html.jinja" import image_gallery %}
{% extends "base.html.jinja" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% include "partials/navbar.html.jinja" %}
    <div class="container mt-5">{{ image_gallery(images, "Images") }}</div>
{% endblock content %}
