{% from "macros/folder_card.html.jinja" import folder_card %}
{% macro folder_gallery(folders, empty_message="No folders found.", child_count_attr="child_count", image_count_attr="image_count", button_text="View Folder", truncate_description=None) %}
    {#
    Renders a gallery (row of cards) for a list of folders.

    Args:
        folders: A list of folder objects.
        empty_message: Message to display if the list of folders is empty.
        child_count_attr: The attribute name on the folder object for the child folder count.
        image_count_attr: The attribute name on the folder object for the image count.
        button_text: The text for the view button on each card.
        truncate_description: If an integer is provided, truncate the description on each card.
    #}
    <div class="row">
        {% for folder in folders %}
            {# Call the folder_card macro for each folder #}
            {{ folder_card(folder=folder,
                        child_count=folder[child_count_attr] ,
                        image_count=folder[image_count_attr],
                        button_text=button_text,
                        truncate_description=truncate_description) }}
        {% else %}
            {# Display message if no folders are found #}
            <div class="col-12">
                <p>{{ empty_message }}</p>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
